@import 'nib'
global-reset()

black = #181818

softGrey = #565655

lightGrey = #e8e8e4
mediumGrey = #a0a0a0
darkGrey = #5d5d5d

red = #b41e37

*, *:before, *:after
    box-sizing: border-box;

a, a:hover, a:active, a:visited
    color: black
    outline: 0
    text-decoration: none

input, textarea
    background: white
    border: 0

textarea
    resize: none
    font-family: inherit
    font-size: inherit

body
    background: white
    color: black
    font-family: Helvetica, Arial, sans-serif

::-webkit-input-placeholder
    color: mediumGrey
:-moz-placeholder
    color: mediumGrey
::-moz-placeholder
    color: mediumGrey
:-ms-input-placeholder
    color: mediumGrey

#canvas
    padding: 15px 21px
    margin: 0 auto
    width: 1190px
    height: 842px

    ::-webkit-scrollbar
        width: 8px

    ::-webkit-scrollbar-track
        border-radius: 4px
        background: rgba(0, 0, 0, 0.1)

    ::-webkit-scrollbar-thumb
        border-radius: 4px
        background: rgba(0, 0, 0, 0.5)

    .field
        display: inline-block
        vertical-align: top
        margin: 5px

        label
            display: block

        input, textarea, .placeholder
            background: transparent

            &:focus
                outline:0

    header
        font-size: 0

        .left
            display: inline-block
            width: 553px
            vertical-align: top

            .field
                background: white
                width: 240px
                height: 42px
                padding: 0 7px
                box-shadow: inset 0 0 0 1px lightGrey

                label
                    color: mediumGrey
                    font-size: 10px
                    padding: 6px 0 0 1px

                input
                    font-size: 14px
                    width: 100%

                &.company
                    width: 293px

                &.focus
                    box-shadow: inset 0 0 0 1px mediumGrey

        .right
            position: relative
            display: inline-block
            width: 585px
            vertical-align: top
            margin: 5px
            height: 42px

            .field
                font-size:0
                height: 21px
                margin: 0

                label
                    display: inline-block
                    color: softGrey
                    font-size: 10px
                    margin-right: 2px

                    &:after
                        content: ':'

                input
                    display: inline-block
                    border-bottom: 1px solid mediumGrey
                    color: softGrey
                    font-size: 12px

                &.connection
                    margin-top: -5px
                    margin-bottom: 8px
                    input
                        width: 150px
                        margin-right: 10px

                &.accepted
                    margin-top: -5px
                    margin-bottom: 8px
                    input
                        width: 164px

                &.team input
                    width: 224px
                    margin-right: 10px

                &.created input
                    width: 103px

            .logo
                absolute: bottom right
                display: inline-block
                font-size: 8px
                text-align: right
                line-height: 1.25
                padding-top: 1px
                padding-right:32px
                height: 19px
                image: '/img/logo.png' 23px 19px
                background-repeat: no-repeat
                background-position: right


    .main
        .field
            position: relative
            background: white
            height: 65px
            padding: 10px

            label
                height: 21px
                line-height: @height
                color: black
                font-size: 12px
                padding-left: 1px
                text-transform: uppercase
                background-repeat: no-repeat
                margin-bottom: (-1 * @height)

                b
                    display: block
                    float: left
                    margin-left: -26px
                    width: 26px
                    height: inherit
                    line-height: inherit
                    font-weight: normal
                    text-align: center

            .textarea
                position: relative
                width: 100%
                height: 100%

                .placeholder
                    color: mediumGrey

                textarea, .placeholder
                    absolute: top left
                    font-size: 12px
                    width: 100%
                    height: 100%
                    padding-top:26px

            &.has-icon
                label, input, textarea, .placeholder
                    padding-left: 16px

            &.focus
                box-shadow: inset 0 0 0 1px mediumGrey

            .comments, .about
                position: absolute
                top: 6px
                right: 6px
                display: none

            .comments
                right: 26px
                width: 19px
                height: 15px
                image: '/img/icons/comments.png' @width @height

            .about
                width: 16px
                height: 16px
                image: '/img/icons/about.png' @width @height

        .mid
            position: relative
            height: 683px

            .comments, .about
                display: block

            .field
                background-repeat: no-repeat
                background-position: 50% 50%

                &:before, &:after, label:before, label:after
                    content: ''
                    display: block
                    position: absolute
                    border: 10px solid transparent
                    margin: -10px

            .field.background
                pink = #f6ded5
                z-index: 100
                absolute: left 0 top 0
                width: 744px
                height: 170px
                background-color: pink
                background-image: url('/img/bg/background.png')
                background-position: 95% 60%

                label
                    color: #b24d40

                &:before, &:after, label:before
                    border-left-color: pink
                    top: 50%
                    right: -10px

                label:before
                    right: -9px

                &:after
                    border-left-color: white
                    right: -20px

                &.focus
                    &:before
                        border-left-color: mediumGrey


            .field.competition
                orange = #fdedd7
                z-index: 90
                absolute: right 0 top 0
                width: 384px
                height: 320px
                background-color: orange
                background-image: url('/img/bg/competition.png')

                label
                    color: #a16e0d

                &:before, &:after, label:before
                    border-top-color: orange
                    right: 70px
                    bottom: -10px

                label:before
                    bottom: -9px

                &:after
                    border-top-color: white
                    bottom: -20px

                &.focus
                    &:before
                        border-top-color: mediumGrey

                    label:after
                        top: 85px
                        left: 11px
                        border-left-color: mediumGrey

            .field.goals
                green = #d4ded3
                z-index: 80
                absolute: right 0 bottom 0
                width: 384px
                height: 343px
                background-color: green
                background-image: url('/img/bg/goals.png')
                background-position: 80% 90%

                label
                    color: #558263

                &:before, &:after, label:before
                    border-right-color: green
                    bottom: 120px
                    left: -10px

                label:before
                    left -9px

                &:after
                    border-right-color: white
                    left: -20px

                &.focus
                    &:before
                        border-right-color: mediumGrey

                    label:after
                        right: 70px
                        top: 11px
                        border-top-color: mediumGrey

            .field.promise
                brown = #e5decf
                z-index: 70
                absolute: right 394px bottom 0
                width: 266px
                height: 241px
                background-color: brown
                background-image: url('/img/bg/promise.png')

                label
                    color: #80682a

                &:before, &:after, label:before
                    border-right-color: brown
                    bottom: 120px
                    left: -10px

                label:before
                    left: -9px

                &:after
                    border-right-color: white
                    left: -20px

                &.focus
                    &:before
                        border-right-color: mediumGrey

                    label:after
                        bottom: 120px
                        right: 11px
                        border-right-color: mediumGrey

            .field.focusgroup
                blue = #d6e3e9
                z-index: 60
                absolute: left 0 bottom 0
                width: 468px
                height: 302px
                background-color: blue
                background-image: url('/img/bg/focusgroup.png')
                background-position: 10% 90%

                label
                    color: #00788d

                &:before, &:after, label:before
                    border-bottom-color: blue
                    right: 74px
                    top: -10px

                label:before
                    top: -9px

                &:after
                    border-bottom-color: white
                    top: -20px

                &.focus
                    &:before
                        border-bottom-color: mediumGrey

                    label:after
                        bottom: 120px
                        right: 11px
                        border-right-color: mediumGrey

            .field.insight
                green = #e1eeca
                z-index: 50
                absolute: left 0 bottom 312px
                width: 468px
                height: 181px
                background-color: green
                background-image: url('/img/bg/insight.png')

                label
                    color: #577630

                &:before, &:after, label:before
                    border-left-color: green
                    top: 44px
                    right: -10px

                label:before
                    right: -9px

                &:after
                    border-left-color: white
                    right: -20px

                &.focus
                    &:before
                        border-left-color: mediumGrey

                    label:after
                        right: 74px
                        bottom: 11px
                        border-bottom-color: mediumGrey

            .field.strategy
                yellow = #efe1b7
                z-index: 40
                absolute: right 394px bottom 251px
                width: 266px
                height: 242px
                background-color: yellow
                background-image: url('/img/bg/strategy.png')

                label
                    color: #927c17

                &.focus
                    label:before, label:after
                        top: 44px
                        left: 12px
                        border-left-color: yellow

                    label:after
                        left: 11px
                        border-left-color: mediumGrey

        footer
            .field
                box-shadow: inset 0 0 0 1px lightGrey

                label
                    font-size: 10px
                    height: 19px
                    line-height: @height
                    margin-top: -5px
                    margin-bottom: (-1 * @height)

                textarea
                    font-size: 10px
                    padding-top: 19px

                &.media
                    width: 370px

                &.progress
                    width: 278px


                &.other
                    width: 470px


@media print
    @page
        margin: 0
        size: landscape

    #canvas
        margin: -10px


    .placeholder
        display: none

    .field.focus
        box-shadow: 0 !imporant

        &:before, label:after
            border: 0 !imporant
